<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elave.selfservicesupermarketdemo1.mapper.LokUserMapper">

    <resultMap id="BaseResultMap" type="com.elave.selfservicesupermarketdemo1.model.entity.LokUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="passwd" column="passwd" jdbcType="VARCHAR"/>
            <result property="usertype" column="usertype" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account,passwd,
        usertype,email,phone
    </sql>
</mapper>
